.div-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.mensaje-rojo{
    color: red;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    padding: 30px;
    height: 1000px;
    width: 70%;
    /* background-color: rgba(65, 105, 225, 0.445); */
    border-radius: 20px;
    /* background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
}
.formulario-publicar {
    font-weight: bolder;
}
.input-titulo {
    height: 35px;
    width: 90%;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 10px;
    background-color: #e8eeef;
    box-shadow: 0 1px 0 rgb(0 0 0 / 3%) inset;
}
.input-titulo:focus {
    background-color: #d1d9dd;
}
.input-semestre {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}
.input-semestre input {
    margin-left: 20px;
}
.input-semestre span {
    margin-left: 5px;
}
.input-description {
    width: 90%;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 10px;
    background-color: #e8eeef;
    box-shadow: 0 1px 0 rgb(0 0 0 / 3%) inset;
}
.input-description:focus {
    background-color: #d1d9dd;
}

.input-date-fin {
    color: #757575;
    width: 200px;
    height: 35px;
    padding: 0px 10px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: #e8eeef;
    box-shadow: 0 1px 0 rgb(0 0 0 / 3%) inset;
}
.input-date-fin:focus {
    background-color: #d1d9dd;
}
.formulario button {
    font-size: 16px;
    background-color: #1abc9c;
    color: #FFF;
    height: 40px;
    width: 100%;
    justify-self: center;
    align-self: center;
    border-radius: 2px;
    border: none;
}
.formulario button:hover {
    background-color: #109177;
    cursor: pointer;
}


